/*====================================*/
/*LEFT NAV*/

#left-nav {
    width: 200px;
    margin: 0 auto;
    padding: 0;
    height: 1471px;

    position: relative;
}

.dark-nav {
    background-color: #252525;
}

.lite-nav {}

#left-nav>div {
    position: relative;

}
/*-----------------------------------------*/
/*Logo*/
.Logo_bg {
/*    width: 170px;*/
    height: 50px;
    background-color: #b4cb34;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.Logo_bg img {
    width: 50%;
}

/*-----------------------------------------*/
/*Pic area*/
.pic-area {
    width: 90%;
    height: 240px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.prof-pic {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 25px 0px 8px 0px;
}

.pic-round {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.prof-pic .pic-round img {
    width: 80px;
    height: 80px;
}

.prof-descr {
    width: 100%;
    height: 27px
}

.prof-descr .Flex .welcome, .prof-descr .Flex .prof-name {
    color: #7e8d2d;
    font-size: .8rem;
    font-weight: 700;
    margin-right: 5px;

}

.prof-descr .Flex .prof-name {
    color: #fff;
}

.prof-descr .Flex .Flex-Div .edit-icon {
    width: 50px;
    height: 50px;
}

.prof-descr .Flex .Flex-Div .edit-icon img {
    margin-right: 5px;
}

.prof-descr .Flex .Flex-Div p {
    font-size: .7rem;
    color: #707070;
    font-weight: 700;
}

/*Post ad*/
.post-ad {
    height: 70px;
    position: relative;
    border-bottom: thin solid #333333;
}

.post-ad button {
    height: 30px;
    width: 85%;
    border: 1px solid #b4cb34;
    border-radius: 2px;
    background-color: #b4cb34;
    color: #fff;
    font-size: .8rem;
    text-transform: none;
    font-weight: 500;
}

/*-----------------------------------------*/
/*Home*/

.nav-list {
    height: 60px;
    width: 90%;
    position: relative;
    border-bottom: thin solid #333333;
}

.nav-list>a>div {
    position: relative;
    height: 100%;
}

.nav-list>a>.ttl {
    position: relative;
    height: 60px;
}

.nav-list .ttl:hover, .nav-list .ttl p:hover, .nav-list .ttl p span:hover {
    color: #b4cb34;
/*    background-color: #555;*/

}

.ttl {}

.ttl .Flex {
width: 90%
}

.ttl .Flex-Div img {
    margin-right: 20px;
    width: 30px;
}

.ttl .Flex-Div p {
    color: #fff;
    font-size: .8rem;
}

.ttl .Flex-Div p span {
    color: #555555;
    font-weight: 700;
}

/*-----------------------------------------*/
/*My Ads*/

.my-ads {
   height: 190px;
}

.my-ads .bdy {
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
}

.bdy>a {

}

.bdy>a .Flex {
    width: 150px;
    height: 30px;
/*    margin: 0px 10px 0px 30px;*/
    left: 30px;
}

.bdy>a .Flex .Flex-Div.num {
    height:30px;
    width: 30px;
    position: relative;
    margin-right: 10px

}

.bdy>a .Flex .Flex-Div.num p {
    color: #b4cb34;
    font-size: .7rem;
    font-weight: 700;
}

.bdy>a .Flex .Flex-Div.txt {
    width: auto
}

.bdy>a .Flex .Flex-Div.txt p {
    color: #fff;
    font-size: .7rem;
    font-weight: 500;
}

/*-----------------------------------------*/
/*Transactions*/


/*-----------------------------------------*/
/*tour-feedback*/

.tour-feedback {
    height: 100px;
    margin-top: 30px
}

.tour-feedback div {
    height: 40px;
    position: relative;
}

.tour-feedback div button {
    width: 80%;
    height: 27px;

    border: 1px solid #b4cb34;
    border-radius: 1px;
    color: #75832c;
    color: #b4cb34;
    text-transform: none;
    font-size: .8rem;
    font-weight: 500;
}

.tour-feedback div button:hover {
    background-color: #b4cb34;
    color: #fff;
}


/*===============================================*/
/*RIGHT BODY*/

/*HEADER*/

.top-bar {
    background: #fff;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

.top-bar-left, .top-bar-right {
    padding: 0;
    margin: 0 auto;
    height: 100%
}

.top-bar ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100%;

}

.menu li {
    padding: 0;
    margin: 0;
    height: 50px;
}

.Navicon_bg {
    width: 72px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: #0f0e0e;

}

.Navicon_bg img {
/*    padding: 4px*/
}

.top-bar a {
/*    font-size: 12px;*/
    font-size: .7rem;
    color: #898989;
    text-transform: uppercase;
}

.menu-tabs {
    width: 120px;
}

.menu-tabs a {
    text-align: center;
}

.menu-tabs:hover, .menu-tabs:active {
    background-color: #0f0e0e;

}

.menu-tabs a:hover, .menu-tabs a:active  {
    color: #b4cb34;
}

.top-bar-right, .log-out {
    width: 230px;
    height: 50px;
}

.log-out .Flex-Div{
    margin: 5px

}

.log-out .Flex-Div a {

}

.log-out .Flex-Div a img {
    width: 25px;
}

.Flex-Div p {
/*    width: auto;*/
    flex-wrap: nowrap;
    font-size: .5rem
}

.Flex-Div .adlink-num {
    font-size: .8rem
}
