/*====================================================================*/
/*---------- General Styles -------------*/
/*====================================================================*/

.adlink-red {    color: #df2726; }
.adlink-red-bg {    background-color: #df2726; }

.adlink-green {    color: #b4cb34; }
.adlink-green-bg {    background-color: #b4cb34; }

.adlink-grey {    color: #404041; }
.adlink-grey-bg {    background-color: #404041; }

.adlink-black {    color: #0f0e0e; }
.adlink-black-bg {    background-color: #0f0e0e; }

div, p {
    color: #515151;
}


/*====================================================================*/
#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
/*    min-width: 1200px;*/
    height: auto;
}

#wrapper>div {
/*    min-width: 1200px;*/
}

/*====================================================================*/
/*Page 1*/
/*====================================================================*/
.page1 {
    height: auto;
}


/*-------------------------------------------------*/
/*HEADER*/
.top-bar {
    background: #fff;
    width: 100%;
    height: auto;
    min-height: 50px;
    max-height: 150px;
    padding: 0;
    margin: 0 auto;
}

.top-bar-title button {
    color: #fff;
    left: 10px;
}

.top-bar-left, .top-bar-right {
    padding: 0;
    margin: 0 auto;
    height: auto;
/*    height: 50px;*/
    width: auto;
}

.top-bar-left {}
.top-bar-left ul {
/*    width: 300px;*/
}

.top-bar ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100%;

}

.top-bar a {
/*    font-size: 12px;*/
    font-size: .75rem;
    color: #515151;
    text-transform: uppercase;
    font-weight: bold;
}

.Logo_bg {
    width: 170px !important;
    height: 50px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}

.Logo_bg img {
    width: 50%;
}

#navlist.menu {
    position: relative;
}

.menu>li{
    height: 50px;
    width: 120px;
    position: relative;
    text-align: center;
}

.menu>li>a {
    margin: 0 auto;

    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    white-space: nowrap;
}

/*
.menu-tabs:hover, .menu-tabs:active {
    background: #e6e6e6;
}
*/
.menu-tabs.dv {
    position: relative;

}

.menu-tabs.dv>a {
    height: 50px;
    width: 120px;

    text-align: center;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.menu-tabs.dv>a:hover{
    background: #e6e6e6;
}

.menu-tabs.dv>a>div, .menu-tabs.dv>a>img {
    margin: 0 auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    white-space: nowrap;
}
.menu-tabs.dv>a>div:hover{
    background: #e6e6e6;
}

.menu-tabs a:hover, .menu-tabs a:active  {
/*    color: #fff;*/
}
.menu-tabs {}
.menu-tabs.dv {}
.menu-tabs.dv a {}

#sub_navlist {
    position: relative;
    margin-top: 50px;
    height: 100px;
}

#sub_navlist>li {
    height: 50px;
    position: relative;


}

#sub_navlist>li>a {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

}





/*right*/
.top-bar-right .menu-tabs {
    width: 100px;
}

/*--------------------*/

.top-bar-right .menu-tabs:hover {
    background: #fff;
}

.top-bar-right .button.sgn {
    color: #fff;
}

.button-gr-bg {
    color: #fff !important;
    background: #b4cb34;
    border: #b4cb34 solid 1px;
}

.button-gr-bg:hover {
    color: #b4cb34 !important;
    background: #fff;
    border: #b4cb34 solid 1px;
}

.button-gr-otln {
    color: #b4cb34 !important;
    background: #fff;
    border: #b4cb34 solid 1px;
}

.button-gr-otln:hover {
    color: #fff !important;
    background: #b4cb34;
    border: #b4cb34 solid 1px;
}


/*-------------------------------------------------------*/
/*BANNER*/

#banner.r1 {
    height: 350px;
    width: 100%;
    position: relative;
    color: #fff;
    padding: 0;
    margin: 0 auto;
}

/*background photo*/
#banner-content {
    width: 600px;
    height: auto;
    padding: 20px 10px;

}

#banner-content p {
    font-size: 1.7rem;
/*    color: #a2b924 !important;*/
    font-weight: 300;
    line-height: 2.5rem;
}

/*services options*/
.step-details {
    height: auto;
    width: 80%
}

.step-details .title {
    font-size: 2.3rem;
    color: #a2b924 !important;
    font-weight: 100;
    line-height: 2.5rem;
    margin-bottom: 10px;
}

.step-details .d-descr {
    padding: 15px 0px 20px 0px;
    height: 100px;
    font-size: 1rem;
}


/*-------------------------------------------------------*/
/*SERVICES*/
#services.r2 {
    height: calc(100vh - 450px);
    min-height: 100px;
     width: 100%;
}

#services.r2 .columns {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

#services.r2 .columns div {
    height: auto;
/*    position: relative;*/
}
