link {
    display:block;
}

#left-nav {
    }


#right-body {
    width: calc(100% - 200px);
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


/*--------------------------------------------------------------*/
/*PAGE 1*/
/*--------------------------------------------------------------*/
#page1 {
/*    height: calc(100vh - 50px);*/
    height: 1800px;
    width: 100%;
}

/*banner*/
#page1 .banner {
    height: 300px;
}

#create-ad-banner {
    background-image: url(https://www.dropbox.com/s/1zizd7a6q7oji90/my-ads-banner.jpg?raw=1);
    background: center cover no-repeat;

}

/*-----------------------------------*/
/*Place ad*/

#place-ad {
    position: relative;
    height:100vh;
    min-height: 800px;
}

.pl-ad-container {
    width: 1200px !important;
/*    max-width: 1200px !important;*/
    min-width: 1150px !important;
}

/*
.pl-ad-container .row{
    width: 1200px !important;

    max-width: 1200px !important;

    min-width: 1150px !important;

}
*/

.pl-row {
    width: 1200px !important;
/*    max-width: 1200px !important;*/
    min-width: 1150px !important;
}

/*title*/
.pl-ad-title {
    width: 100%;
    text-align: center;
    height: 50px;
    position: relative;
}

.pl-ad-title p {
    width: 100px;
    font-weight: bolder;
}
/*steps*/
.pl-ad-steps {
    width: 100%;
    text-align: center;
    height: auto;
    position: relative;
}

.pl-left, .pl-right {
    height: 100%;
    width: 49% !important;
    padding: 0;
    margin: 0 !important;
}

.pl-left {
/*    min-width: 400px;*/
}

.pl-right {}

/*the tabs*/
.tabs, .tabs-content {
     border: 0px solid #e6e6e6 !important;
}
.pl-tabs {}

.pl-tabs #place-ad-tabs .tabs-title {
    width: 33% !important;
    height: 30px !important;
    text-align: left;

}

.pl-tabs #place-ad-tabs .tabs-title a {

    height: 30px !important;
    color: #898989 !important;
    padding: 5px 2.5rem 10px 1.5rem !important;
}


.pl-tabs #place-ad-tabs .pl-your-ad a{
    width: 70% !important;
}

.pl-tabs #place-ad-tabs .pl-location-date a{
    width: 100% !important;
}

.pl-tabs #place-ad-tabs .pl-payment a{
    width: 80% !important;
}

.pl-tabs #place-ad-tabs .tabs-title>a[aria-selected=true]  {
/*    width: 33% !important;*/
    text-align: left;
    color: #191919 !important;
    font-weight: 700;
    background: none;
    border-bottom: #000 solid 5px;
}

.place-ad-tabs {}

/*---------------------------------*/
/*Your ad tab*/

#pl-your-ad {
    height: auto;
    width: 100%;
    color: #191919 !important;
    position: relative;
}

form.place-ad input[type="checkbox"] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
/*    display:none;*/
}


/*step 1*/
.st-1, .st-2, .st-3, .st-4, .st-5, .st-6 {
    width: 100%;
    height: auto;
    padding: 30px 0px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.st-row1 .Flex {
    width: 100%;
    height: 100%;

}
.Flex-Div.cNm {
    width: 50px;
    height: 100%;
    position: relative;
}

.step-num-c {
    width: 50px;
}

.step-num-c img {
    width: 30px;
    max-width: 150% !important;
}

.step-num {
    font-size: .9rem !important;
    width: auto;
    font-weight: 600;
}

.descr {

    display: block !important;
    width: 90%;
    min-width: 400px;
    height: 100%;
    text-align: left;
    font-size: .8rem !important;
    position: absolute;
    top: 7px;
}
.descr .step-instr  {

}

/*step 1*/

.st-1 {}

.st-1 .st-row1 {
    width: 100%;
    height: 80px;
}

.descr .step-instr  {
/*
    font-size: .8rem; !important;

    display: block !important;
    width: 90%;
    min-width: 400px;
    height: 100%;
    text-align: left;
    position: absolute;
    top: 7px;
*/
}

.step-instr-txt {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8rem !important;
}

.step-instr-txt2 {
    font-size: .8rem !important;
    font-weight: 500;
}

.descr label.step-instr select {
    background-color: #ececec;
}

.st-txt {
    font-size: .9rem !important;
    font-weight: 500 !important;
    letter-spacing: -.5px
}

.st-txt2 {
    font-size: .8rem !important;
    font-weight: 600;
    letter-spacing: -.5px
}

.st-txt3 {
    font-size: .9rem !important;
    font-weight: 300 ;
    letter-spacing: -.5px
}

.st-txt4 {
    font-size: 1.1rem !important;
    font-weight: 300 ;
    letter-spacing: -.5px
}

.st-txt5 {
    font-size: .85rem !important;
    font-weight: 400 ;
    letter-spacing: -.4px
}
.descr input[type="checkbox"] {
    /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}
/*step 2*/

.st-2 {
    height: auto;
}

.st-2 .st-row1 {
    height: 70px !important;
}

.descr input[type="checkbox"]:checked {
    background-color: #404041;
    color: #fff;
}

.st-row2 {
    text-align: left;
    padding: 5px 40px;
}

.st-2 .st-row2 input[type="checkbox"] {
    display:none;
}

.st-2 input[type="checkbox"] + label span {
    display:inline-block;
/*    width:19px;*/
/*    height:19px;*/
    padding: 12px 16px;

    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 1px #000;
    text-align: center;
    text-decoration: none;
}

.st-row2 input[type="checkbox"]:checked + label {
    background-color: #404041;
    color: #fff;
    border: 3px solid #8dc63f;
    border-radius: 7px;
    box-shadow: 0 0 1px #8dc63f;

}

/*step 3*/
.st-3 {
    height: auto;
    padding-bottom: 40px;
}

.st-3 .st-row1 {
    height: 45px;
}

.st-3 .st-row2 {
    height: 150px !important;
}

.st-3 .st-row2 input[type="checkbox"] {
    position: absolute;
    bottom: 35px;
}


/*positioning*/

.st-3 .paper-type, .st-3 .extra, .ad-cost { height: 135px; }

.st-3 .paper-type {width: 210px;}

.st-3 .extra {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    text-align: center;
    width: 130px;
}

#normal-print {left: 52px;}

.st-3 #normal-print[type="checkbox"] + label span {left: 50px;}

#gloss-print {left: 157px;}

.st-3 #gloss-print[type="checkbox"] + label span {left: 155px;}

#laminate-print {left: 282px;}

.st-3 #laminate-print[type="checkbox"] + label span {left: 280px;}



.st-3 input[type="checkbox"] + label span {
    display:inline-block;
    width:70px !important;
    height: 80px !important;
    padding: 25px 10px;

    border: 1px solid #000;
    border-radius: 0px;
    box-shadow: 0 0 1px #000;
    text-align: center;
    text-decoration: none;
    position: absolute;
}

.st-3 .st-row2 input[type="checkbox"]:checked + label {
    color: #555;
    border: 3px solid #8dc63f;
    border-radius: 0px;
    box-shadow: 0 0 1px #8dc63f;
}

/*totals*/
.ad-cost {
    height: 140px;
    width: 110px;
}

.ad-cost .Flex-v.top {
    width: 130px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;

}

.ad-cost .Flex .Flex-Div {
    margin-right: 10px;
}

.ad-cost .Flex .Flex-Div p {
/*    width: 110px;*/
        white-space: nowrap;
}


/*Step 4*/
.st-4 {}

.st-4 .st-row1 {
    height: 50px;
}

.st-4 .st-row2 {
    height: 150px;
    padding: 0px 0px 0px 30px;
}

.st-4 .st-row2 .ad-pic-upload {}

.ad-pic-upload label.button {
    width: 110px;
    height: 130px;
    background-color: #cdcdcd;
    position: relative;
}

.st-4 .st-row2 .ad-details {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

input[type=text], textarea {
    border: 1px solid #cacaca;
}

input[type=text], textarea {
    border: 1px solid #cacaca;
    color: #404041 !important;
    border-radius: 5px;
}

input[placeholer=Title] {
    color: #404041 !important;
}

.st-4 .st-txt2 input[type=text]::placeholder {
  color: #404041 !important;
}

.st-4 textarea {
    height: 80px;
}

/*---------------------------------------*/
/*step 5*/
.st-5 {}

.st-5 .st-row1 {
    height: 50px;
}

.st-5 .st-row2 {
    height: 160px;
    padding: 0px 0px 0px 30px;
    width: 100% !important;

    position: relative;
    margin: 0 auto;
    padding: 0;
}

.st-5 .st-row2 .medium-8, .st-5 .st-row2 .medium-4 {
    height: 50px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.st-5 .st-row2 .medium-4 {
    width: 185px;
    padding: 10px 0px 0px 0px;
}

.st-5 .st-row2 .column label {
/*    width: 30px;*/
}

.st-5 .st-row2 .column label input {
    width: 335px;
    margin-left: 25px;
}

/*---------------------------------------*/
/*step 6*/

.st-6 {
    text-align: right;
    height: 130px;
}

.st-6 input, .st-6 button {
    width: 170px;
    height: 33px
}

.st-6 input {
    background-color: #191919;
}

.st-6 input:hover {
    background-color: #8dc63f;
    color: #fff;
    box-shadow: 0 0 0px;
}

.st-6 button:hover {
    color: #8dc63f;
    border: 1px solid;
    border-radius: 100px !important;
    box-shadow: 0 0 0px;
/*    padding: 20px 20px;*/
    text-decoration: none;
}


/*=========================================================*/

/*THE RIGHT SIDE*/
.pl-right {
    height: auto;
    color: #191919
}

.r-title {
    text-align: left;
    height: 50px;
    color: #191919 !important;
    font-weight: 700;
}

.r-title p {
     height: 30px;
    border-bottom: #404041 thin solid;
    text-transform: uppercase;
}

/*------------------*/
/*row 1*/
/*left*/
.r-row1, .r-row2, .r-row3 {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0px;
}

.r-row1 .medium-4 {
    border-right: 1px solid #e6e6e6;
     color: #191919
}
.r-row1 .medium-4 .Flex-v {
    width: 100px;
}

.r-row1 .sz{
    padding-bottom: 10px;
    text-align: left;
}

.r-row1 .ad-size {
    display:inline-block;
    padding: 12px 16px;
    background-color: #404041;
    color: #fff;
    margin-bottom: 20px;

    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 1px #000;
    text-align: center;
    text-decoration: none;
}

.r-row1 .pt{
    padding-bottom: 15px
}

.r-row1 .pt2{
    padding-bottom: 5px
}

.r-row1 button {
    padding: 5px 20px;
     border: 1px solid #8dc63f;
    border-radius: 3px;
    color: #404041;
}

.r-row1 button:hover {
    color: #fff;
    background-color: #8dc63f;
}

/*right*/
.r-row1 .medium-8 .Flex-v {
    text-align: left;
    width: 120px;
    margin-left: 40px;
}

.r-row1 .medium-8 .Flex-v.brd {
    padding-bottom: 10px;
     border-bottom: 1px solid #e6e6e6;
}



/*------------------*/
/*row 2*/
