/*====================================================================*/
/*---------- General Styles -------------*/
/*====================================================================*/

.adlink-red {    color: #df2726; }
.adlink-red-bg {    background-color: #df2726; }

.adlink-green {    color: #b4cb34; }
.adlink-green-bg {    background-color: #b4cb34; }

.adlink-grey {    color: #404041; }
.adlink-grey-bg {    background-color: #404041; }

.adlink-black {    color: #0f0e0e; }
.adlink-black-bg {    background-color: #0f0e0e; }

div, p {
    color: #515151;
}


/*====================================================================*/
#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
/*    min-width: 1200px;*/
    height: auto;
}

#wrapper>div {
/*    min-width: 1200px;*/
}

/*====================================================================*/
/*Page 1*/
.page1 {
    height: auto;
}


/*HEADER*/
.top-bar {
    background: #fff;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

.top-bar-left, .top-bar-right {
    padding: 0;
    margin: 0 auto;
    height: 100%
}

.top-bar ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100%;

}

.menu li {
    padding: 0;
    margin: 0;
    height: 50px;
}

.menu li a {}



.top-bar a {
/*    font-size: 12px;*/
    font-size: .75rem;
    color: #515151;
    text-transform: uppercase;
    font-weight: bold;
}

.Logo_bg {
    width: 170px;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.Logo_bg img {
    width: 55%;
}

.menu-tabs {
    width: 120px;
}

.menu-tabs a {
    text-align: center;
}

.menu-tabs:hover, .menu-tabs:active {
    background: #e6e6e6;
}

.menu-tabs a:hover, .menu-tabs a:active  {
/*    color: #fff;*/
}

.top-bar-right .menu-tabs {
    width: 100px;
}

/*services and about*/
.mTabs, .mTabs #adlink-tabs  {
    padding: 0;
    margin: 0 auto;
    border: #fff 0px;
}

#adlink-tabs .tabs-title {
    position: relative;
}

#adlink-tabs .tabs-title>a {
    height: 50px;
/*    padding: 0;*/
}

#adlink-tabs .tabs-title>a:focus, #adlink-tabs .tabs-title>a[aria-selected=true] {
    background: #e6e6e6;
    height: 50px;
}

.top-bar-right .menu-tabs:hover {
    background: #fff;
}

.top-bar-right .button.sgn {
    color: #fff;
}

/*
.top-bar-right .button.sgn:hover {
    color: #b4cb34;
    background: #fff;
    border: #b4cb34 solid 1px;
}

.top-bar-right .button.lgn {
    color: #b4cb34;
    background: #fff;
    border: #b4cb34 solid 1px;
}

.top-bar-right .button.lgn:hover {
    color: #fff;
    background: #b4cb34;
    border: #b4cb34 solid 1px;
}
*/

.button-gr-bg {
    color: #fff !important;
    background: #b4cb34;
    border: #b4cb34 solid 1px;
}

.button-gr-bg:hover {
    color: #b4cb34 !important;
    background: #fff;
    border: #b4cb34 solid 1px;
}

.button-gr-otln {
    color: #b4cb34 !important;
    background: #fff;
    border: #b4cb34 solid 1px;
}

.button-gr-otln:hover {
    color: #fff !important;
    background: #b4cb34;
    border: #b4cb34 solid 1px;
}


/*-------------------------------------------------------*/
/*BANNER*/

#banner {
    position: relative;
    color: #fff;
    height: calc(100vh - 50px);
    min-height: 700px;
    padding: 0;
    margin: 0 auto;
}

#banner>div {
    padding: 0;
    margin: 0 auto;
    height: auto;

}

/*background photo*/

#services-tab {
    height: 100%;
    position: relative;
}

/*row1*/
#services-tab .r1 {
    height: 350px
}

#home-banner {
    height: 350px;
}

#banner-content {
    width: 600px;
    height: auto;
    padding: 20px 10px
}

#banner-content p {
    font-size: 1.7rem;
/*    color: #a2b924 !important;*/
    font-weight: 300;
    line-height: 2.5rem;
}

/*row2*/
#services-tab .r2 {
    height: calc(100vh - 450px);
    min-height: 300px;
     width: 100%;
}

#services-tab .r2 .columns {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

#services-tab .r2 .columns div {
    height: auto;
/*    position: relative;*/
}



/*services options*/
.step-details {
    height: auto;
    width: 80%
}

.step-details .title {
    font-size: 2.3rem;
    color: #a2b924 !important;
    font-weight: 100;
    line-height: 2.5rem;
    margin-bottom: 10px;
}

.step-details .d-descr {
    padding: 15px 0px 20px 0px;
    height: 100px;
    font-size: 1rem;
}
