/*====================================================================*/
/*---------- General Styles -------------*/
/*====================================================================*/

.adlink-red {    color: #df2726; }
.adlink-red-bg {    background-color: #df2726; }

.adlink-green {    color: #b4cb34; }
.adlink-green-bg {    background-color: #b4cb34; }

.adlink-grey {    color: #404041; }
.adlink-grey-bg {    background-color: #404041; }

.adlink-black {    color: #0f0e0e; }
.adlink-black-bg {    background-color: #0f0e0e; }

div, p {
    color: #515151;
}


/*====================================================================*/
#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 1200px;
    height: auto;
}

#wrapper>div {
    min-width: 1200px;
}

/*====================================================================*/
/*Page 1*/
.page1 {
/*    height: 100vh;*/
    height: 800px;
}
/*HEADER*/

.top-bar {
    background: #fff;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

.top-bar-left, .top-bar-right {
    padding: 0;
    margin: 0 auto;
    height: 100%
}

.top-bar ul {
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100%;

}

.menu li {
    padding: 0;
    margin: 0;
    height: 50px;
}

.Navicon_bg {
    width: 72px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: #cecece;

}

.Navicon_bg img {
/*    padding: 4px*/
}

.top-bar a {
/*    font-size: 12px;*/
    font-size: .7rem;
    color: #515151;
    text-transform: uppercase;
    font-weight: bold;
}

.Logo_bg {
    width: 170px;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.Logo_bg img {
    width: 55%;
}

.menu-tabs {
    width: 140px;
}

.menu-tabs a {
    text-align: center;
}

.menu-tabs:hover, .menu-tabs:active {
    background-color: #cecece;

}

.menu-tabs a:hover, .menu-tabs a:active  {
    color: #fff;
}

.top-bar-right .menu-tabs {
    width: 100px;
}


/*-------------------------------------------------------*/
/*BANNER*/

#banner {
    position: relative;
    color: #fff;
/*    height: calc(100vh - 60px) !important;*/
    height: 740px;
}

/*background photo*/
#banner-photo {
/*    background: url(https://www.dropbox.com/s/slnb44q7mmbo7xt/sign-up-bg2.jpg?raw=1) no-repeat center;*/
/*    background: center cover no-repeat;*/
    height: 100%;
/*    min-height: 700px;*/
}

#banner-content {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 500px;
    height: 320px;
    text-align: center;
}

.notice-ad {
    position: relative;
    height: 130px;
    padding: 10px;
}

.notice-ad p {
    font-weight: 100;
    font-size: 3rem;

    margin: 20px 0px 20px 0px;
    color: #000 !important;
    text-align: left;
    line-height: 0.9;
    width: 95%;
    word-spacing: .4rem;
    left: 53%;
}

.sign-up-txt {
    height: 26px;
    text-align: left;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 5px 5px;
    position: relative;
}

.sign-up-txt p {
    width: 87%;
/*    color: #000 !important;*/
}

.sign-up-form {
    position: relative;
    height: 55px;
    padding: 10px;
}

.e-form {
    width: 90%;
    height: 70px;
}

form input {
    border: .5px solid #555 !important;
    border-radius: 100px !important;
    box-shadow: none !important;
    font-size: .9rem !important;

    text-align: center;
    font-size: .7rem !important;
    color: #373737 !important;
    width: 105% !important;
    height: 70%!important;
}

form input:hover, form input:active {
    border: 1px solid #df2726;
}

.next-row {
    text-align: left;
}

.next {
/*    height: 100%;*/
    width: auto;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: left;
}

.next p {
    margin: 0px 10px 0px 0px;
    color: #fff !important;
    font-size: .9rem;
    font-weight: 500;
}

.next-div {
    background-color: #373737;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: relative;
}

.next input {
    width: 15px !important;
    height: 14px !important;

}
.social-sign {
    width: 100%;
    height: 30px;
    text-align: left;
    position: relative;
    margin-top: 7px;
}

.social-sign div {
    height: 100%;
    width: 90%
}

.social-sign div button {
    width: 125px;
    height: 100%;
    background-color: #373737;
    border-radius: 100px;

    font-size: .75rem;
    text-transform: none;
    color: #fff;
    margin-right: 10px;
}

.social-sign button img {
    float: left;
    margin-left: 20px;
    margin-right: -30%;
    height: 40%
}

/*====================================================================*/
/*Page 2*/
/*====================================================================*/

#page2 {
    height: auto;
    width: 100%;
    position: relative;
}

/*---------------------------*/
/*Locations*/
.locations {
    height: 350px;
    width: 100%;
}

.head {
    height: 40px
}
.dash {}
.head p {
    margin: 0 20px;
    font-size: 0.7rem;
}

/*location-logo*/
.location-logo {
    height: auto;
    width: 1000px;
    margin: 0 auto;

    padding-top: 20px;
    position: relative;


    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.location-logo a {
    margin: 0 auto;
    padding: 0;
    width: auto;
    margin: 0px 30px 30px 0px;

}

.location-logo img {
    width: auto;
    height: auto;

}

/*---------------------------*/
/*How it works*/
.workings {
/*    height: calc(100vh - 350px);*/
    height: auto;
    background-color: #dddddd;
}

.workings .head {
    margin: 20px 0px;
}
.w-tabs {
   position: relative;
    height: 100px;
}

#workings-tabs {
    width: auto;
    border: 0 !important;
}

#workings-tabs li {
    position: relative;
    width: 140px;
    height: auto;
/*    padding: .5rem;*/
}

#workings-tabs .tabs-title>a {
    display: block;
    padding: 10px;
    line-height: 1;
}

.tab-img {
    position: relative;
    height: 50px;
    width: 50px;
    margin-bottom: 10px
}

.tab-txt {
    position: relative;
    height: 20px;
/*    margin-bottom: 10px;*/
    text-align: center;
}

.tab-txt p {
    font-size: .8rem;
}


/*Images on tabs*/
/*design*/
.design.tab-img {
    background-image: url(https://www.dropbox.com/s/o3qd4h16crrmvs5/design-black.png?raw=1);
}

.design.tab-img:hover {
    background-image: url(https://www.dropbox.com/s/o3qd4h16crrmvs5/design-black.png?raw=1);
}

.tabs-title>a[aria-selected=true] .design {
    background-image: url(https://www.dropbox.com/s/o3qd4h16crrmvs5/design-black.png?raw=1);
}

/*book*/
.book.tab-img {
    background-image: url(https://www.dropbox.com/s/xfm1lhsetqg6ae6/book-and-pay.png?raw=1);
}

.book.tab-img:hover {
    background-image: url(https://www.dropbox.com/s/66dxl0vt9xpxemp/book-and-pay-black.png?raw=1);
}

.tabs-title>a[aria-selected=true] .book {
    background-image: url(https://www.dropbox.com/s/66dxl0vt9xpxemp/book-and-pay-black.png?raw=1);
}


/*print*/
.print.tab-img {
    background-image: url(https://www.dropbox.com/s/h5z46yzhvak6eq9/print.png?raw=1);
}

.print.tab-img:hover {
    background-image: url(https://www.dropbox.com/s/hysdmxo97r5lqfh/print-black.png?raw=1);
}

.tabs-title>a[aria-selected=true] .print {
    background-image: url(https://www.dropbox.com/s/hysdmxo97r5lqfh/print-black.png?raw=1);
}


/*track*/
.track.tab-img {
    background-image: url(https://www.dropbox.com/s/4rslxyj8rv3dv9i/track.png?raw=1);
}

.track.tab-img:hover {
    background-image: url(https://www.dropbox.com/s/aghwtxk8x6t0wvk/track-black.png?raw=1);
}

.tabs-title>a[aria-selected=true] .track {
    background-image: url(https://www.dropbox.com/s/aghwtxk8x6t0wvk/track-black.png?raw=1);
}

/*Edit tabs*/
#workings-tabs .tabs-title p {
    color: #fff !important;
    font-weight: bold;
}

#workings-tabs .tabs-title, #workings-tabs .tabs-title>a[aria-selected=true] {
    background: #dddddd !important;
}

#workings-tabs .tabs-title>a[aria-selected=true] {
    border-bottom:3px solid #555;
}

#workings-tabs .tabs-title>a[aria-selected=true] p {
     color: #555 !important;
    font-weight: bold;
}


#workings-tabs .tabs-title>a:hover {
    background: #dddddd !important;
}

#workings-tabs .tabs-title>a p:hover {
    color: #555 !important;
    font-weight: bold;
}


/*---------------------------*/
/*the description*/

.tabs-content {
    height: 350px;
/*    background-color: #dddddd;*/
}

.tabs-panel {
    height: 100%;
}

.tabs-panel .row, .tabs-panel .row .columns {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/*design*/
#design .row, #design .row .columns {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#design .row .columns img {
    width: 350px
}

.step-details {
    height: auto;
}

.step-details .title {
    font-size: 2.3rem;
    color: #a2b924 !important;
    font-weight: 100;
/*    font-weight: bold;*/
    width: 250px;
    line-height: 2.5rem;
    margin-bottom: 10px;
}

#design .step-details .d-descr {
    width: 450px;
    padding: 5px 0px;
}


/*Book and Print*/
#book .step-details .title, #print .step-details .title {
    width: auto;
}


#book .step-details .d-descr, #print .step-details .d-descr {
    width: 550px;
    padding: 15px 2px 30px 2px;
}


#book .button, #print .button {
    color: #a2b924;
    background-color: #fff;
    border: 1px #a2b924 solid;
    text-transform: uppercase;
    font-size: .8rem
}

#book .button:hover, #print .button:hover {
    color: #fff;
    background-color: #dddddd;
    border: 2px #fff solid;
    font-weight: bold
}

/*-----------------*/
#print .row, #book .row, #track .row,{}

/*====================================================================*/

/*PAGE #*/

#page3 {
    width: 100%;
    height: auto;
}

/*------------------------------------------*/
/*Corporate Fact*/
#c-fact {
    width: 100%;
    height: 300px;
    position: relative;
}

.c-fact-div {
    height: 100%;
    width: 700px;
    padding: 10px;

}

.c-fact-div .head {
    margin-top: 30px;
}

.c-fact-div .head div, .c-fact-div .head p {
    color: #fff;
}

/*--------------------*/
/*Image*/
.c-fact-img {
    position: relative;
    height: 100px;
    margin: 0px 0px;
}

.c-fact-img img {
    width: 100px;
}

/*--------------------*/
/*Text*/
.c-fact-text p, .c-fact-text-big p {
    color: #fff !important;
    text-align: center;
}

.c-fact-text-big {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.c-fact-text {
    font-size: .6rem
}


/*-------------------------------------------------*/
/*About Adlink*/
.about-adlink {
    width: 100%;
    height: 250px;
    position: relative;
}

.abt-adlink {
    height: 100%;
    width: 700px;
    padding: 10px;

}

.abt-adlink .head {
    margin: 0px 0px 40px 0px;
}

.abt-adlink-text {
    text-align: center;
}

.abt-adlink-text p {
    font-weight: 100;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: #333333;
}

.abt-adlink-text p span {
     color: #66b503 !important;
}

/*-------------------------------------------------*/
/*Subscribe*/
.subscribe {
    background-color: #ececec;
/*    height: calc(100% - 600px);*/
    min-height: 180px;
    position: relative;
}

.sub {
    height: 70%;
    width: 700px;
    padding: 10px;
    text-align: center;
}

.sub-title {
    margin-bottom: 20px;
    font-size: .7rem;
}

.sub-dark {
    color: #333333 !important;
    font-weight: bold;
}

.sub-lite {

}

.sub .row {
    width: 100%;
    height: 40px;
    display: inline-flex;
    align-items: center
}
.sub .row .medium-1 {
    font-size: .7rem;
}

.sub .row form input {
    margin: 0;

}

/*redeem button*/
.redeem {
    width: 150px;
    padding: .65rem;
    background-color: #66b345;
    color: #fff;
    font-size: .7rem;
    border-radius: 100px;
    text-transform: none;
}
/*====================================================================*/
