link {
    display:block;
}

#left-nav {
    }


#right-body {
    width: calc(100% - 200px);
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


/*--------------------------------------------------------------*/
/*PAGE 1*/
/*--------------------------------------------------------------*/
#page1 {
/*    height: calc(100vh - 50px);*/
    height: 800px;
    width: 100%;
}

/*banner*/
#page1 .bphoto {
    height: 300px;
}

#bphoto {
    background-image: url(https://www.dropbox.com/s/an7gq1e7wkm4zs8/phone.jpg?raw=1);
    background: center cover no-repeat;
}


/*The transactions*/
#page1 #transactions {
    height: auto;
    min-height: 300px;
    padding: 40px 20px 20px 0px;
    position: relative;

}

#page1 #transactions .trans_cont {
/*   height: 95%;*/
    width: 80%;

}

#transaction-tabs {

    width: 33%;
    min-width: 400px;
    border: #000 solid .5px;
    border-radius: 5px
}

#transaction-tabs li {
    height: 100%;
    width: 50%;


}

#transaction-tabs li a {
    height: 30px;
    color: #000;
    text-align: center;
}

#transaction-tabs li a[aria-selected=true] {
    color: #fff;
    background-color: #000;
}






























